  .tile.tile-1 .tile-inner {
    background: #eee4da;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0), inset 0 0 0 1px rgba(255, 255, 255, 0); }
  .tile.tile-2 .tile-inner {
    background: #eee3d8;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0), inset 0 0 0 1px rgba(255, 255, 255, 0); }
  .tile.tile-3 .tile-inner {
    background: #eee2d4;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0), inset 0 0 0 1px rgba(255, 255, 255, 0); }
  .tile.tile-5 .tile-inner {
    background: #eee2cf;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.03528), inset 0 0 0 1px rgba(255, 255, 255, 0.02145); }
  .tile.tile-8 .tile-inner {
    background: #eee1c9;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.05556), inset 0 0 0 1px rgba(255, 255, 255, 0.03333); }
  .tile.tile-13 .tile-inner {
    background: #eddcc3;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.07937), inset 0 0 0 1px rgba(255, 255, 255, 0.04762); }
  .tile.tile-21 .tile-inner {
    color: #f9f6f2;
    background: #f1b985; }
  .tile.tile-34 .tile-inner {
    color: #f9f6f2;
    background: #f2b179; }
  .tile.tile-55 .tile-inner {
    color: #f9f6f2;
    background: #f59563; }
  .tile.tile-89 .tile-inner {
    color: #f9f6f2;
    background: #f68c60; }
  .tile.tile-144 .tile-inner {
    color: #f9f6f2;
    background: #f67c5f;
    font-size: 45px; }
    @media screen and (max-width: 520px) {
      .tile.tile-144 .tile-inner {
        font-size: 25px; } }
  .tile.tile-233 .tile-inner {
    color: #f9f6f2;
    background: #f66e4b;
    font-size: 45px; }
    @media screen and (max-width: 520px) {
      .tile.tile-233 .tile-inner {
        font-size: 25px; } }
  .tile.tile-377 .tile-inner {
    color: #f9f6f2;
    background: #f65e3b;
    font-size: 45px; }
    @media screen and (max-width: 520px) {
      .tile.tile-377 .tile-inner {
        font-size: 25px; } }
  .tile.tile-610 .tile-inner {
    color: #f9f6f2;
    background: #ef9f92;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.2381), inset 0 0 0 1px rgba(255, 255, 255, 0.14286);
    font-size: 45px; }
    @media screen and (max-width: 520px) {
      .tile.tile-610 .tile-inner {
        font-size: 25px; } }
  .tile.tile-987 .tile-inner {
    color: #f9f6f2;
    background: #edcf72;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.2381), inset 0 0 0 1px rgba(255, 255, 255, 0.14286);
    font-size: 45px; }
    @media screen and (max-width: 520px) {
      .tile.tile-987 .tile-inner {
        font-size: 25px; } }
  .tile.tile-1597 .tile-inner {
    color: #f9f6f2;
    background: #edce67;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.31746), inset 0 0 0 1px rgba(255, 255, 255, 0.19048);
    font-size: 45px; }
    @media screen and (max-width: 520px) {
      .tile.tile-1597 .tile-inner {
        font-size: 25px; } }
  .tile.tile-2584 .tile-inner {
    color: #f9f6f2;
    background: #edcc61;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.31746), inset 0 0 0 1px rgba(255, 255, 255, 0.19048);
    font-size: 45px; }
    @media screen and (max-width: 520px) {
      .tile.tile-2584 .tile-inner {
        font-size: 25px; } }
  .tile.tile-4181 .tile-inner {
    color: #f9f6f2;
    background: #edca55;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.39683), inset 0 0 0 1px rgba(255, 255, 255, 0.2381);
    font-size: 45px; }
    @media screen and (max-width: 520px) {
      .tile.tile-4181 .tile-inner {
        font-size: 25px; } }
  .tile.tile-6765 .tile-inner {
    color: #f9f6f2;
    background: #edc850;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.39683), inset 0 0 0 1px rgba(255, 255, 255, 0.2381);
    font-size: 45px; }
    @media screen and (max-width: 520px) {
      .tile.tile-6765 .tile-inner {
        font-size: 25px; } }
  .tile.tile-10946 .tile-inner {
    color: #f9f6f2;
    background: #edc647;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.47619), inset 0 0 0 1px rgba(255, 255, 255, 0.28571);
    font-size: 35px; }
    @media screen and (max-width: 520px) {
      .tile.tile-10946 .tile-inner {
        font-size: 15px; } }
  .tile.tile-17711 .tile-inner {
    color: #f9f6f2;
    background: #edc53f;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.47619), inset 0 0 0 1px rgba(255, 255, 255, 0.28571);
    font-size: 35px; }
    @media screen and (max-width: 520px) {
      .tile.tile-17711 .tile-inner {
        font-size: 15px; } }
  .tile.tile-28657 .tile-inner {
    color: #f9f6f2;
    background: #edc437;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.55556), inset 0 0 0 1px rgba(255, 255, 255, 0.33333);
    font-size: 35px; }
    @media screen and (max-width: 520px) {
      .tile.tile-28657 .tile-inner {
        font-size: 15px; } }
  .tile.tile-46368 .tile-inner {
    color: #f9f6f2;
    background: #edc333;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.6), inset 0 0 0 1px rgba(255, 255, 255, 0.36666);
    font-size: 35px; }
    @media screen and (max-width: 520px) {
      .tile.tile-46368 .tile-inner {
        font-size: 15px; } }
  .tile.tile-75025 .tile-inner {
    color: #f9f6f2;
    background: #edc22e;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.65), inset 0 0 0 1px rgba(255, 255, 255, 0.4);
    font-size: 35px; }
    @media screen and (max-width: 520px) {
      .tile.tile-75025 .tile-inner {
        font-size: 15px; } }
  .tile.tile-121393 .tile-inner {
    color: #f9f6f2;
    background: #edc22e;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.65), inset 0 0 0 1px rgba(255, 255, 255, 0.4);
    font-size: 28px; }
    @media screen and (max-width: 520px) {
      .tile.tile-121393 .tile-inner {
        font-size: 15px; } }
  .tile.tile-196418 .tile-inner {
    color: #f9f6f2;
    background: #edc22c;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.66), inset 0 0 0 1px rgba(255, 255, 255, 0.4);
    font-size: 28px; }
    @media screen and (max-width: 520px) {
      .tile.tile-196418 .tile-inner {
        font-size: 15px; } }
  .tile.tile-317811 .tile-inner {
    color: #f9f6f2;
    background: #edc228;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.67), inset 0 0 0 1px rgba(255, 255, 255, 0.4);
    font-size: 28px; }
    @media screen and (max-width: 520px) {
      .tile.tile-317811 .tile-inner {
        font-size: 15px; } }
  .tile.tile-514229 .tile-inner {
    color: #f9f6f2;
    background: #edc125;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.68), inset 0 0 0 1px rgba(255, 255, 255, 0.4);
    font-size: 28px; }
    @media screen and (max-width: 520px) {
      .tile.tile-514229 .tile-inner {
        font-size: 15px; } }
  .tile.tile-832040 .tile-inner {
    color: #f9f6f2;
    background: #edc122;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.69), inset 0 0 0 1px rgba(255, 255, 255, 0.4);
    font-size: 28px; }
    @media screen and (max-width: 520px) {
      .tile.tile-832040 .tile-inner {
        font-size: 15px; } }
  .tile.tile-1346269 .tile-inner {
    color: #f9f6f2;
    background: #edc11f;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.7), inset 0 0 0 1px rgba(255, 255, 255, 0.4);
    font-size: 24px; }
    @media screen and (max-width: 520px) {
      .tile.tile-1346269 .tile-inner {
        font-size: 12px; } }
  .tile.tile-2178309 .tile-inner {
    color: #f9f6f2;
    background: #edc11c;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.71), inset 0 0 0 1px rgba(255, 255, 255, 0.4);
    font-size: 24px; }
    @media screen and (max-width: 520px) {
      .tile.tile-2178309 .tile-inner {
        font-size: 12px; } }
  .tile.tile-3524578 .tile-inner {
    color: #f9f6f2;
    background: #edc119;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.72), inset 0 0 0 1px rgba(255, 255, 255, 0.4);
    font-size: 24px; }
    @media screen and (max-width: 520px) {
      .tile.tile-3524578 .tile-inner {
        font-size: 12px; } }
  .tile.tile-5702887 .tile-inner {
    color: #f9f6f2;
    background: #edc117;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.73), inset 0 0 0 1px rgba(255, 255, 255, 0.4);
    font-size: 24px; }
    @media screen and (max-width: 520px) {
      .tile.tile-5702887 .tile-inner {
        font-size: 12px; } }
  .tile.tile-9227465 .tile-inner {
    color: #f9f6f2;
    background: #edc115;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.74), inset 0 0 0 1px rgba(255, 255, 255, 0.4);
    font-size: 24px; }
    @media screen and (max-width: 520px) {
      .tile.tile-9227465 .tile-inner {
        font-size: 12px; } }
  .tile.tile-14930352 .tile-inner {
    color: #f9f6f2;
    background: #edc111;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.75), inset 0 0 0 1px rgba(255, 255, 255, 0.4);
    font-size: 20px; }
    @media screen and (max-width: 520px) {
      .tile.tile-14930352 .tile-inner {
        font-size: 10px; } }
  .tile.tile-24157817 .tile-inner {
    color: #f9f6f2;
    background: #edc110;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.76), inset 0 0 0 1px rgba(255, 255, 255, 0.4);
    font-size: 20px; }
    @media screen and (max-width: 520px) {
      .tile.tile-24157817 .tile-inner {
        font-size: 10px; } }
  .tile.tile-39088169 .tile-inner {
    color: #f9f6f2;
    background: #edc00f;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.77), inset 0 0 0 1px rgba(255, 255, 255, 0.4);
    font-size: 20px; }
    @media screen and (max-width: 520px) {
      .tile.tile-39088169 .tile-inner {
        font-size: 10px; } }
  .tile.tile-63245986 .tile-inner {
    color: #f9f6f2;
    background: #edc00e;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.78), inset 0 0 0 1px rgba(255, 255, 255, 0.4);
    font-size: 20px; }
    @media screen and (max-width: 520px) {
      .tile.tile-63245986 .tile-inner {
        font-size: 10px; } }
  .tile.tile-102334155 .tile-inner {
    color: #f9f6f2;
    background: #edc00c;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.79), inset 0 0 0 1px rgba(255, 255, 255, 0.4);
    font-size: 18px; }
    @media screen and (max-width: 520px) {
      .tile.tile-102334155 .tile-inner {
        font-size: 10px; } }
  .tile.tile-super .tile-inner {
    color: #f9f6f2;
    background: #edbf0a;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.8), inset 0 0 0 1px rgba(255, 255, 255, 0.4);
    font-size: 18px; }
    @media screen and (max-width: 520px) {
      .tile.tile-super .tile-inner {
        font-size: 10px; } }
